{#
/**
 * @file
 * Theme override for status messages.
 *
 * Displays status, error, and warning messages, grouped by type.
 *
 * An invisible heading identifies the messages for assistive technology.
 * Sighted users see a colored box. See http://www.w3.org/TR/WCAG-TECHS/H69.html
 * for info.
 *
 * Add an ARIA label to the contentinfo area so that assistive technology
 * user agents will better describe this landmark.
 *
 * Available variables:
 * - message_list: List of messages to be displayed, grouped by type.
 * - status_headings: List of all status types.
 * - attributes: HTML attributes for the element, including:
 *   - class: HTML classes.
 */
#}
{% set classes = attributes.offsetGet('class')|default({}) %}
{%
  set status_heading = {
  'status': 'Status message'|t,
  'error': 'Error message'|t,
  'warning': 'Warning message'|t,
  'info': 'Informative message'|t,
}
%}
{%
  set status_classes = {
  'status': 'success',
  'error': 'danger',
  'warning': 'warning',
  'info': 'info',
}
%}
{%
  set status_roles = {
  'status': 'status',
  'error': 'alert',
  'warning': 'alert',
  'info': 'status',
}
%}
<div class="container mx-auto"data-drupal-messages>
  {% for type, messages in message_list %}
      {% if status_classes[type] == 'danger' %}
        {% include directory ~ "/partials/status-messages/partial--status-message-error.html.twig" %}
      {% elseif status_classes[type] == 'success' %}
        {% include directory ~ "/partials/status-messages/partial--status-message-status.html.twig" %}
      {% elseif status_classes[type] == 'info' %}
        {% include directory ~ "/partials/status-messages/partial--status-message-info.html.twig" %}
      {% elseif status_classes[type] == 'warning' %}
        {% include directory ~ "/partials/status-messages/partial--status-message-warning.html.twig" %}
      {% endif %}
  {% endfor %}
</div>