<div class="relative bg-white dark:bg-black">
  <div class="lg:absolute lg:inset-0">
    <div class="lg:absolute lg:inset-y-0 lg:left-0 lg:w-1/2">
      {% if content.field_image is not empty %}
        <img class="h-56 w-full object-cover lg:absolute lg:h-full" src="{{ file_url(content.field_image[0]['#media'].field_media_image.entity.uri.value) }}" alt="rumah-image">
      {% else %}
        <img class="h-56 w-full object-cover lg:absolute lg:h-full" src="https://images.unsplash.com/photo-1521737852567-6949f3f9f2b5?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2830&q=80&sat=-100" alt="default-image">
      {% endif %}
    </div>
  </div>
  <div class="relative pt-12 pb-16 px-4 sm:pt-16 sm:px-6 lg:px-8 lg:max-w-7xl lg:mx-auto lg:grid lg:grid-cols-2">
    <div class="lg:col-start-2 lg:pl-8">
      <div class="text-base max-w-prose mx-auto lg:max-w-lg lg:ml-auto lg:mr-0">
        {% if content.field_title.0 %}
        <h2 class="leading-6 text-rumah-600 font-semibold tracking-wide uppercase">
          {{ content.field_title.0 }}
        </h2>
        {% endif %}
        {% if content.field_subtitle.0 %}
          <h3 class="mt-2 text-3xl leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl dark:text-white">{{ content.field_subtitle.0 }}</h3>
        {% endif %}
       <div class="mt-5 prose prose-rumah dark:prose-invert text-gray-500 dark:text-white">
         {{ content.field_description }}
        </div>
      </div>
    </div>
  </div>
</div>