{#
/**
 * @file
 * Default theme implementation of a feature block.
 *
 * Available variables:
 * - content
 *
 * @ingroup themeable
 */
#}
<div class="bg-rumah-600 mt-12">
  <div class="max-w-4xl mx-auto px-4 py-16 sm:px-6 sm:pt-20 sm:pb-24 lg:max-w-7xl lg:pt-24 lg:px-8">
    <h2 class="text-3xl font-extrabold text-white tracking-tight">{{ content.field_title.0 }}</h2>
    <p class="mt-4 max-w-3xl text-lg text-rumah-200">{{ content.body|render|striptags }}</p>
    <div class="mt-12 grid grid-cols-1 gap-x-6 gap-y-12 sm:grid-cols-2 lg:mt-16 lg:grid-cols-4 lg:gap-x-8 lg:gap-y-16">
      {{ content.field_content }}
    </div>
  </div>
</div>