<div class="bg-white dark:bg-black overflow-hidden">
  <div class="relative max-w-7xl mx-auto py-16 px-4 sm:px-6 lg:px-8">
    <div class="hidden lg:block bg-gray-50 dark:bg-black absolute top-0 bottom-0 left-3/4 w-screen"></div>
    <div class="mx-auto text-base max-w-prose lg:grid lg:grid-cols-2 lg:gap-8 lg:max-w-none">
      <div>
        {% if content.field_title.0 %}
        <h2 class="text-base text-rumah-600 font-semibold tracking-wide uppercase">
          {{ content.field_title.0 }}
        </h2>
        {% endif %}
        {% if content.field_subtitle.0 %}
        <h3 class="mt-2 text-3xl leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl dark:text-white">
          {{ content.field_subtitle.0 }}
        </h3>
        {% endif %}
      </div>
    </div>
    <div class="mt-4 lg:grid lg:grid-cols-2 lg:gap-8">
      <div class="relative lg:row-start-1 lg:col-start-2">
        <svg class="hidden lg:block absolute top-0 right-0 -mt-20 -mr-20" width="404" height="384" fill="none" viewBox="0 0 404 384" aria-hidden="true">
          <defs>
            <pattern id="de316486-4a29-4312-bdfc-fbce2132a2c1" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
              <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
            </pattern>
          </defs>
          <rect width="404" height="384" fill="url(#de316486-4a29-4312-bdfc-fbce2132a2c1)" />
        </svg>
        <div class="relative text-base mx-auto max-w-prose lg:max-w-none">
          <figure>
            <div class="aspect-w-12 aspect-h-7 lg:aspect-none">
              {% if content.field_image is not empty %}
                <img class="rounded-lg shadow-lg object-cover object-center" src="{{ file_url(content.field_image[0]['#media'].field_media_image.entity.uri.value) }}" alt="rumah-image">
              {% else %}
                <img class="rounded-lg shadow-lg object-cover object-center" src="https://images.unsplash.com/photo-1546913199-55e06682967e?ixlib=rb-1.2.1&auto=format&fit=crop&crop=focalpoint&fp-x=.735&fp-y=.55&w=1184&h=1376&q=80" alt="default-image">
              {% endif %}
            </div>
          </figure>
        </div>
      </div>
      <div class="mt-8 lg:mt-0">
        <div class="prose prose-rumah  dark:prose-invert text-gray-500 dark:text-white mx-auto lg:max-w-none lg:row-start-1 lg:col-start-1">
          {{ content.field_description.0 }}
        </div>
      </div>
    </div>
  </div>
</div>