{#
/**
 * @file
 * Default theme implementation of a feature block.
 *
 * Available variables:
 * - content
 *
 * @ingroup themeable
 */
#}
<div class="bg-white dark:bg-black">
  <div class="max-w-7xl mx-auto py-16 px-4 sm:px-6 lg:py-24 lg:px-8 lg:grid lg:grid-cols-3 lg:gap-x-8">
    <div>
      <h2 class="text-base font-semibold text-rumah-600 uppercase tracking-wide">{{ content.field_subtitle.0 }}</h2>
      <p class="mt-2 text-3xl font-extrabold text-gray-900 dark:text-white">{{ content.field_title.0 }}</p>
      <p class="mt-4 text-lg text-gray-500 dark:text-gray-400">{{ content.body|render|striptags }}</p>
    </div>

    {% if content.field_content.0 %}
      <div class="mt-12 lg:mt-0 lg:col-span-2">
        <dl class="space-y-10 sm:space-y-0 sm:grid sm:grid-cols-2 sm:grid-rows-4 sm:grid-flow-col sm:gap-x-6 sm:gap-y-10 lg:gap-x-8">
            {{ content.field_content }}
        </dl>
      </div>
    {% endif %}
  </div>
</div>